<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <title>Change me!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS  -->
  <link type="text/css" rel="stylesheet" href="css/libs/bootstrap.css">

  <!-- JavasCript  -->
  <script type="text/javascript" src="js/libs/jquery.js"></script>
  <script type="text/javascript" src="js/libs/vue.js"></script>
  <script type="text/javascript" src="js/libs/vue-resource.js"></script>
  <script type="text/javascript" src="js/libs/angular.js"></script>
  <script type="text/javascript" src="js/libs/bootstrap.js"></script>
</head>

<body class="app">

  <div ng-controller="HelloController">
    <h1>Hello Frontend</h1>
    {{ angular_data }}
  </div>

  <div id="app">
    <button v-on:click="loadData" >Vue Click</button>
    <div v-bind:title="vue_data">
      {{ vue_data }}
    </div>
  </div>

  <script type="text/javascript" src="js/vue.app.js"></script>
  <script type="text/javascript" src="js/angular.app.js"></script>
</body>

</html>
